<footer>
    <div id="footer_container">
        <div id="footer_top">
            <div class="footer_links">
                <h3 class="bold">Ayuda</h3>
                <p>Centro de ayuda</p>
                <p>Foro de ayuda</p>
                <p>Videos tutoriales</p>
            </div>
            <div class="footer_links">
                <h3 class="bold">Comunidad</h3>
                <p>Centro de ayuda</p>
                <p>Foro de ayuda</p>
                <p>Videos tutoriales</p>
            </div>
        </div>
        <hr>
        <div class="f_row" [ngStyle]="{gap: '5rem'}" >
            <p>terminos de uso</p>
            <p>privacidad</p>
        </div>
    </div>
</footer>