header{
    width: 100vw;
    position: fixed;
    top: 0;

    transition: background-color ease 500ms;
    z-index: 2;
}
#header_container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: auto max-content;
}
#header_logo{
    display: grid;
    grid-template-columns: max-content max-content auto;
    gap: .5rem;
    user-select: none;
}
#header_modal_container{
    width: fit-content;
    display: flex;
    align-items: center;

    overflow: hidden;
}
#header_modal{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    text-decoration: underline;

    position: relative;
    left: -300px;

    transition: all ease 200ms;
}

img{
    width: 46px;
    height: 46px;
}
.active{
    color: crimson;
}